<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Pay to</p>

<img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=1Chain4asCYNnLVbvG6pgCLGBrtzh4Lx4b" alt="">


<% @data[0]["utxo"].each do |d| %>
  <p><%=d["amount"]%></p>
<% end %>




