<div style="text-align:center; background-color: #EF8122; height: 100vh; padding-top:100px;">
  <%= image_tag "logo.jpg", height: 500 %>
  <h3 style="color: white">PRÓXIMAMENTE</h3>
  <h3 style="color: white">Cra 19 # 36-34 Teusaquillo, Bogotá</h3>
</div>
