<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">



<div style="text-align:center; background-color: #EF8122; height: 100vh; padding-top:100px;">

  <%= image_tag "logo.jpg", height: 200 %>
  <h3 style="color: white">Precio Compra: $<%= @price_buy_localbitcoin.to_i - 1000000 %></h3>
  <h3 style="color: white">Precio Venta: $<%= @price_sell_localbitcoin.to_i - 300000 %></h3>




  <h3 style="color: white">Cra 19 # 36-34 Teusaquillo, Bogotá</h3>
</div>

</div>
</div>
</div>



